@page
@model KoiFarmShop.WebApplication.Pages.Promotionhtml.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.DayStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.DayStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.DayEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.DayEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.Percent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Percent)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Promotion.ProId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
