@page
@model KoiFarmShop.WebApplication.Pages.Promotionhtml.DetailsModel

@* <div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.DayStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.DayStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.DayEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.DayEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promotion.Percent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promotion.Percent)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Promotion.ProId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@



<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Promotion</h4>
    <div class="card mb-4">
        <h5 class="card-header"><strong>Promotion</strong></h5>
        <div class="card-body">
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Promotion.DayStart)</label>
                <div class="col-md-10">
                    <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Promotion.DayStart)</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Promotion.DayEnd)</label>
                <div class="col-md-10">
                    <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Promotion.DayEnd)</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Promotion.Percent)</label>
                <div class="col-md-10">
                    <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Promotion.Percent)</p>
                </div>
            </div>
            
            <div class="mb-3 row">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary"> <a asp-page="./Edit" asp-route-id="@Model.Promotion.ProId" style="color:white">Edit</a></button>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-secondary"> <a asp-page="./Index" style="color:white">Back to List</a></button>
                </div>
            </div>
        </div>
    </div>
</div>