@page
@model KoiFarmShop.WebApplication.Pages.Promotionhtml.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].DayStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].DayEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].Percent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Promotion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
