@page
@model KoiFarmShop.WebApplication.Pages.OrderDetailhtml.IndexModel

@* <p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Koi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koi.KoiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ShipAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderDetailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">OrderDetail</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-dark"><a asp-page="Create" style="color:white">Create New</a></button>
        </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Koi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.OrderDetail)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Koi.KoiId)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Order.ShipAddress)
                            </td>

                            @* <td>
                                <span class="badge bg-label-primary me-1">
                                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                                </span>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateDay)
                            </td>

                            <td>
                                <strong>
                                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                                </strong>
                            </td>

                            <td> *@
                                <button type="button" class="btn btn-info">
                                <a asp-page="./Edit" asp-route-id="@item.OrderDetailId" style="color:white">Edit</a>
                                </button>
                                <button type="button" class="btn btn-info">
                                <a asp-page="./Details" asp-route-id="@item.OrderDetailId" style="color:white">Details</a>
                                </button>
                                <button type="button" class="btn btn-danger">
                                <a asp-page="./Delete" asp-route-id="@item.OrderDetailId" style="color:white">Delete</a>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</div>
