@page
@model KoiFarmShop.WebApplication.Pages.Koihtml.DeleteModel
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Delete</h4>
<div class="card mb-4">
    <h5 class="card-header"><strong>Are you sure you want to delete this?</strong></h5>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Title)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Title)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Description)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Description)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Price)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Price)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Age)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Age)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Size)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Size)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Breed)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Breed)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Gender)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Gender)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Origin)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Origin)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Detail)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Detail)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Image)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Image)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.Stock)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.Stock)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Koi.KoiCate.KoiCateId)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Koi.KoiCate.KoiCateId)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <form method="post">
                <input type="hidden" asp-for="Koi.KoiId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <button type="button" class="btn btn-secondary"> <a asp-page="./Index" style="color:white">Back to List</a></button>
            </form>
        </div>
    </div>
</div>