@page
@model KoiFarmShop.WebApplication.Pages.Koihtml.IndexModel

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Koi List</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-dark">
                <a asp-page="Create" style="color:white">Create New</a>
            </button>
        </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Price)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Age)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Size)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Breed)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Gender)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Origin)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Detail)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Image)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].Stock)</th>
                        <th>@Html.DisplayNameFor(model => model.Koi[0].KoiCate.KoiCateId)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Koi)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Age)</td>
                            <td>@Html.DisplayFor(modelItem => item.Size)</td>
                            <td>@Html.DisplayFor(modelItem => item.Breed)</td>
                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                            <td>@Html.DisplayFor(modelItem => item.Origin)</td>
                            <td>@Html.DisplayFor(modelItem => item.Detail)</td>
                            <td>@Html.DisplayFor(modelItem => item.Image)</td>
                            <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                            <td>@Html.DisplayFor(modelItem => item.KoiCate.KoiCateId)</td>
                            <td>
                                <button type="button" class="btn btn-info">
                                    <a asp-page="./Edit" asp-route-id="@item.KoiId" style="color:white">Edit</a>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <a asp-page="./Delete" asp-route-id="@item.KoiId" style="color:white">Delete</a>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>