@page
@model KoiFarmShop.WebApplication.Pages.Contacthtml.DetailsModel

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Report)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Report)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CreatedDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CreatedDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Cate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Cate.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contact.ContactId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
