@page
@model KoiFarmShop.WebApplication.Pages.CmtBloghtml.DeleteModel

@* <h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CommentBlog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentBlog.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentBlog.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentBlog.CreatedDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentBlog.CreatedDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentBlog.UpdateDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentBlog.UpdateDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentBlog.Blog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentBlog.Blog.BlogId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentBlog.CreatedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentBlog.CreatedByNavigation.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentBlog.UpdateByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentBlog.UpdateByNavigation.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CommentBlog.CmtBlogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div> *@



<div class="card mb-4">
    <h5 class="card-header"><strong>Are you sure you want to delete this?</strong></h5>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.CommentBlog.Content)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.CommentBlog.Content)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-date-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.CommentBlog.CreatedDay)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Model.CommentBlog.CreatedDay?.ToString("yyyy-MM-dd")</p>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.CommentBlog.CreatedDay)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.CommentBlog.CreatedDay)</p>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="html5-date-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.CommentBlog.UpdateDay)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Model.CommentBlog.UpdateDay?.ToString("yyyy-MM-dd")</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.CommentBlog.UpdateDay)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.CommentBlog.UpdateDay)</p>
            </div>
        </div>
       
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.CommentBlog.Blog)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.CommentBlog.Blog.BlogId)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.CommentBlog.CreatedByNavigation)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.CommentBlog.CreatedByNavigation.FullName)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.CommentBlog.UpdateByNavigation)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.CommentBlog.UpdateByNavigation.FullName)</p>
            </div>
        </div>

        <div class="mb-3 row">
            <form method="post">
                <input type="hidden" asp-for="CommentBlog.CmtBlogId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <button type="button" class="btn btn-secondary"> <a asp-page="./Index" style="color:white">Back to List</a></button>

            </form>
        </div>
    </div>
</div>