@page
@model KoiFarmShop.WebApplication.Pages.Bookinghtml.DetailsModel

@* <div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Koiname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Koiname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.DateSent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.DateSent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.DateReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.DateReceived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CreatedDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CreatedDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UpdateDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UpdateDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Cate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Cate.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Customer.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div> *@


<div class="card mb-4">
    <h5 class="card-header"><strong>Booking</strong></h5>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Booking.Koiname)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Koiname)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Description)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Description)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Age)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Age)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Size)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Size)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Breed)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Breed)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Gender)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Gender)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Origin)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Origin)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Image)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Image)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Quantity)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Quantity)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Status)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Status)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Type)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Type)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.DateSent)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.DateSent)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.DateReceived)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.DateReceived)</p>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.CreatedDay)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.CreatedDay)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.UpdateDay)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.UpdateDay)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.Cate)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.Cate.CategoryId)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Booking.User)</label>
            <div class="col-md-10">
                <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Booking.User.UserName)</p>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="mb-3">
                <button type="button" class="btn btn-primary"> <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId" style="color:white">Edit</a></button>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-secondary"> <a asp-page="./Index" style="color:white">Back to List</a></button>
            </div>
        </div>
    </div>
</div>
