@page
@model KoiFarmShop.WebApplication.Pages.CmtKoihtml.IndexModel

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Comment Koi List</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">
            <button type="button" class="btn btn-dark">
                <a asp-page="Create" style="color:white">Create New</a>
            </button>
        </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CommentKoi[0].Content)</th>
                        <th>@Html.DisplayNameFor(model => model.CommentKoi[0].CreatedDay)</th>
                        <th>@Html.DisplayNameFor(model => model.CommentKoi[0].UpdateDay)</th>
                        
                        <th>@Html.DisplayNameFor(model => model.CommentKoi[0].Koi)</th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.CommentKoi)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Content)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDay)</td>
                            <td>@Html.DisplayFor(modelItem => item.UpdateDay)</td>
                            
                            <td>@Html.DisplayFor(modelItem => item.Koi.KoiId)</td>
                            
                            <td>
                                <button type="button" class="btn btn-info">
                                    <a asp-page="./Edit" asp-route-id="@item.CmtKoiId" style="color:white">Edit</a>
                                </button>
                                <button type="button" class="btn btn-info">
                                    <a asp-page="./Details" asp-route-id="@item.CmtKoiId" style="color:white">Details</a>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <a asp-page="./Delete" asp-route-id="@item.CmtKoiId" style="color:white">Delete</a>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>