@page
@model KoiFarmShop.WebApplication.Pages.Discounthtml.DeleteModel

@* <h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount.Koi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount.Koi.KoiId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount.Pro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount.Pro.ProId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Discount.DiscountId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div> *@




<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Discount</h4>
    <div class="card mb-4">
        <h5 class="card-header"><strong>Are you sure you want to delete this?</strong></h5>
        <div class="card-body">
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label">@Html.DisplayNameFor(model => model.Discount.Koi)</label>
                <div class="col-md-10">
                    <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Discount.Koi.KoiId)</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="html5-text-input" class="col-md-2 col-form-label"> @Html.DisplayNameFor(model => model.Discount.Pro)</label>
                <div class="col-md-10">
                    <p class="form-control" style="margin-bottom:0px">@Html.DisplayFor(model => model.Discount.Pro.ProId)</p>
                </div>
            </div>
            
            <div class="mb-3 row">
                <form method="post">
                    <input type="hidden" asp-for="Discount.DiscountId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <button type="button" class="btn btn-secondary"> <a asp-page="./Index" style="color:white">Back to List</a></button>

                </form>
            </div>
        </div>
    </div>
</div>