@page
@model KoiFarmShop.WebApplication.Pages.Discounthtml.DetailsModel

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount.Koi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount.Koi.KoiId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount.Pro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount.Pro.ProId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Discount.DiscountId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
