@page
@model KoiFarmShop.WebApplication.Pages.KoiCatehtml.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KoiCategory[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiCategory[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiCategory[0].Cate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KoiCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cate.CategoryId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.KoiCateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.KoiCateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.KoiCateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
