@page
@model KoiFarmShop.WebApplication.Pages.KoiCatehtml.IndexModel
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">KoiCategory</h4>
<div class="card mb-4">
        <h5 class="card-header">
            <button type="button" class="btn btn-dark"><a asp-page="Create" style="color:white">Create New</a></button>
        </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                    @Html.DisplayNameFor(model => model.KoiCategory[0].Title)
                        </th>
                        <th>
                    @Html.DisplayNameFor(model => model.KoiCategory[0].Description)
                        </th>
                        <th>
                    @Html.DisplayNameFor(model => model.KoiCategory[0].Cate)
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.KoiCategory)
                    {
                        <tr>
                            <td>
                                <strong>
                        @Html.DisplayFor(modelItem => item.Title)
                                <strong>
                            </td>
                            <td>  
                            @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.Cate.CategoryId)
                            </td>
                            <td>
                                <button type="button" class="btn btn-info">
                                    <a asp-page="./Edit" asp-route-id="@item.KoiCateId" style="color:white">Edit</a>
                                </button>
                                <button type="button" class="btn btn-info">
                                    <a asp-page="./Details" asp-route-id="@item.KoiCateId" style="color:white">Details</a>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <a asp-page="./Delete" asp-route-id="@item.KoiCateId" style="color:white">Delete</a>
                                </button>
                            </td>
                        </tr>
                    }               
                </tbody>
            </table>
        </div>
    </div>
</div>